
@import 'html/productos';
@import 'utilidades/variables';
@import 'html/reset';

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@media screen and (min-width: 351px) and (max-width: 500px) {
    body{
        background-color: aquamarine;
        font-size: larger;
    }
}

@media screen and (max-width: 350px) {
    body{
        background-color: aliceblue;
        font-size: large;
    }
}

@media screen and (min-width: 500px){
    body{
        background-color: $color-principal
    }
}

header{ 
    @include sizes(100%, 100px);
    display: flex;
    position: fixed;
    top: 0%;
background-color: $color-principal;
}

header {
    div{
        img{
            height: 100px;
        }
    }
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: $color-principal;
}

.nombre-empresa{
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Lucida Bright';
}

.nav-bar{
    align-content: center;
    color: aliceblue;
    background-color: $color-principal;
}

nav{
    ul{
        display: flex;
        list-style-type: none;
    }
}

nav{
    ul{
        li{
            a{
                display: flex;
                display: inline-block;
                font-family: 'Lucida Bright';
                font-size:x-large;
                text-align: center;
                padding-left: 225px;
                color: aliceblue;
                text-decoration: none;
            }
        }
    }
}

.enlace-nav:hover{
    color:gold;
}

body{
    position:relative;
    min-height: 100vh;
    background-color: $color-de-fondo;
    margin:0;
}

body {
    p{
        font-size: xx-large;
    }
}

.grid-container{
    justify-content: center;
    display: grid;
    grid-template-rows: 450px 200px;
    grid-template-columns: 275px 350px;
    grid-template-areas:
    'imagen texto'
    'texto-2 texto-2';
}

.first-item{
    justify-content:end;
    align-content: end;
    margin: 0; padding: 0;
}

.second-item{
    justify-content: end;
    align-content: center;
}

section div p{
    width: 350px;
    font-size:x-large;
}

.third-item{
grid-area: texto-2;
}

h2{
    font-family: 'Lucida Bright';
    font-size: 41px;
}

.mas-texto{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 25px;
}

.div-mas-texto{
    display: flex;
    justify-content: center;
}

.p2{
width: 50%;
font-size:x-large
}

footer{
    @include sizes(100%, 100%);
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 0;
    height: 75px;
    background-color: $color-principal;
}

.productos-informacion {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.mapa{
padding-top: 100px;
padding-left: 75px;
}

strong{
    font-size: 200%;
    position: absolute;
    top: 50%; right: 50%;
}

form{
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
  }

  #CV{
    display: flex;
    content: 100px;
  }